
 
 /* Text */
.whiteText {
    color: azure;
    font-weight: bold;
}
/* End Text */


/* Videos */
#homeVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#cloudyVideo {
    display: none;
}

#windyVideo {
    display: none;
}

#rainVideo {
    display: none;
}

#snowVideo {
    display: none;
}

#sunnyVideo {
    display: none;

}
/* End Video*/

/* Button */
div button {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background-color: #000;
    cursor: pointer;
}
/* End Button */

/* Home Container */
#main {
    position: fixed;
    margin-top: 12%;
    background: rgba(0, 0, 0, .5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    position: sticky; 
}
/* End Home Container */

/* Results Container */
.container3 {
    display: none;
}
/* End Results Container */

/* Food Display */
.food {
    width: 40%;
    background: white;
    margin: auto;
}
/* End Food Display */