.whiteText {
    color: azure;
    font-weight: bold;
}

#main {
    position: fixed;
    margin-top: 12%;
    background: rgba(0, 0, 0, .5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    position: sticky; 
}



.video {
    display: none;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}

#confirm {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    cursor: pointer;
}